.DS_Store
.idea
/node_modules
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
public/assets/images/logo.jpg
