.fixed-table-container {
    border: none !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}

.help-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.help-block li {
    color: #f6504d;
}

ul.alert {
    list-style: none;
}

.breadcrumb > li + li.pull-right:before {
    padding: 0 5px;
    color: #ccc;
    content: none;
}