.fixed-table-container {
    border: none !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}

.help-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.help-block li {
    color: #f6504d;
}

ul.alert {
    list-style: none;
}

.breadcrumb > li + li.pull-right:before {
    padding: 0 5px;
    color: #ccc;
    content: none;
}

/*#product-filter-table th {*/
/*    -webkit-transform: rotate(-60deg);*/
/*    -moz-transform: rotate(-60deg);*/
/*    -ms-transform: rotate(-60deg);*/
/*    -o-transform: rotate(-60deg);*/
/*    transform: rotate(-60deg);*/
/*    width: 0px;*/
/*    font-weight: bold;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*#product-filter-table th:first-child {*/
/*    height: 150px;*/
/*    width: 50px;*/
/*}*/
/*#product-filter-table th:not(:first-child) {*/
/*    height: 10px;*/
/*}*/

/*#product-filter-table td:nth-child(2), td:nth-child(3), td:nth-child(4) {*/
/*    width: 10px;*/
/*}*/
.table-header-rotated {
    border-collapse: collapse;
}

.csstransforms .table-header-rotated td {
    width: 30px;
}

.no-csstransforms .table-header-rotated th {
    padding: 5px 10px;
}

.table-header-rotated td {
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #ccc;
}

.csstransforms .table-header-rotated th.rotate {
    height: 140px;
    white-space: nowrap;
}

.csstransforms .table-header-rotated th.rotate > div {
    -webkit-transform: translate(25px, 51px) rotate(315deg);
    transform: translate(25px, 51px) rotate(315deg);
    width: 30px;
}

.csstransforms .table-header-rotated th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.table-header-rotated th.row-header {
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
